<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4 fw-bold">Create Your Account</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="fullName">Full Name</label>
                <input type="text" name="fullName" placeholder="Enter your name" class="form-control" formControlName="fullName" [ngClass]="{'is-invalid': (fullName?.touched || fullName?.dirty) && fullName?.invalid}">
                <div class="invalid-feedback">
                    @if (fullName?.errors?.['required']) {
                        <div>Please enter your full name</div>
                    }
                    @if (fullName?.errors?.['minlength']) {
                        <div>Full name must be more than 5 letters</div>
                    }
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter your Email" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : (email?.touched || email?.dirty) && email?.invalid}">
                    <div class="invalid-feedback">
                        @if (email?.errors?.['required']) {
                            <div>Please enter your email</div>
                        }
                        @if (email?.errors?.['email']) {
                            <div>Please enter your email correctly</div>
                        }
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': (password?.touched || password?.dirty) && password?.invalid}">
                <div class="invalid-feedback">
                    @if (password?.errors?.['required']) {
                        <div>Please enter your password</div>
                    }
                    @if (password?.errors?.['minlength']) {
                        <div>Password must be more than 5 charecters</div>
                    }
                </div>
            </div>

            <button class="btn btn-success w-100" [disabled]="registerForm.invalid">Create Account</button>

            <div class="text-center mt-3">
                <small>Already Have an Account? <a routerLink="/login">Sign in</a></small>
            </div>
        </form>
    </div>
</div>